<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <script type="module" src="../static/control/utils.js"></script>
    <script type="module" src="../static/control/conponents.js"></script>
    <script type="module" src="../static/control/index.js"></script>
</head>
<body>
    <div class="main">
        <center>
        <label class="title">{{title}}</label><br>
        <ul id="navi_bar" class="navigation_bar"></ul>
        <div id="service"></div>
        <ul id="result"></ul>
    </center>
    </div>
</body>
</html>